/*____________________________________
 
 About
 ______________________________________*/
body {
	&.page-template-about-tpl {
		.blue-bg {
			background: white !important;
			background-image: none !important;
			.page-head{
				h2 {
					color: black;
					font-weight: bold;
				}
			} 
			.content {
				width: 80%;
	    		margin-left: 20%;
				p{
					text-align: right;
				}
			}
		}
		//content
		.container-fluid {
			padding: 2em 15px 3em;
			background-image: url(../img/bg-3.jpg);
			background-size: cover;
			background-attachment: fixed;
			.the_content {
				// title
				h1 {
					text-align: center;
					color: white;
					@include mobile {
						margin: 1em auto;
						text-align: center;
					}
				}
				p {
					color: white; 
					text-align: center;
					padding: 2em 1em;
				}
				//article item
				.col-md-6 {
					.item {
						max-width: 90%;
						margin: 1em auto;
						background-color: white;
						padding-bottom: 2em;
						figure{
							display: block;
							background-color: $gray-4;
							min-height: 230px;
							width: 100%;
						}
						h2 {
							color: $blue-1;
							font-size: 1.4em;
							max-width: 90%;
							margin: 5%;
						}
						p{
							color: $gray-5;
							max-width: 90%;
							margin: 5%;
						}
					}
				}
			} 
		}
	}
}