/*____________________________________
 
 Clients
 ______________________________________*/
body{
	&.page-template-clients-tpl{

		.carousel {
			.slick-prev, 
			.slick-next {
				width: 35px;
				height: 65px;
				&::before {
					display: none;				}
			}
			
			.slick-prev {
				background-image: url('../img/back.png');
				left: -40px;
			}

			.slick-next {
				background-image: url('../img/next.png');
				right: -40px;
			}

		}

		.main {

			p {
				text-align: center;
				padding: 2em 0;
			}
			ul{
				padding: 2em 0;
				li{
					img{
						display: block;
						margin: 0 auto;
					}
				}
			}
		}

		.events {
			border-top: 3px solid $blue-1;
			h2 {
				margin-top: 0;
			}
			article {
				position: relative;
				padding: 0;
				margin: 15px;
				figure {
					width: 100%;
					height: 100%;
					img {
						height: 100%;
						width: auto;
					}
				}

				.caption {
					display: none;
					position: absolute;
					top: 0; 
					left: 0;
					width: 100%;
					height: 100%;
					z-index: 2;
					background-color: rgba(0,0,0,0.8);
					text-align: center;
					color: $white;
					h3{
						color: $white;
						padding-top: 2.5em;
					}
					
					p {
						display: none;
					}
				}
				&:hover {
					.caption {
						display: block;
						padding: 1em;

					}
				}
			}
		}
	}
}