//----------FONTS-----------//

//------------------ FONTS------------------------//

@font-face {
	font-family: 'Century Gothic Italic';
	src: url('../fonts/CenturyGothic-Italic.eot');
	src: url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Italic.woff') format('woff'),
		url('../fonts/CenturyGothic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/CenturyGothic.eot');
	src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic.woff') format('woff'),
		url('../fonts/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic Bold';
	src: url('../fonts/CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

//media queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin bdesktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin defdesktop {
  @media (max-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}


@mixin sm-desktop {
  @media (max-width: #{$sm-desktop-width}) {
    @content;
  }
}

//------------------ general from body styles -----------------------//

body {
	font-family: $century;
	
	//titles and strong fonts
	h1,
	h2,
	h3,
	h4,
	strong{
		font-family: $century-bd;
	}

	//gutter fix
	hr{
		display: none;
	}

	//No gutter
	.no-gutter{
		> [class*='col-'] {
			padding-right:0;
			padding-left:0;
		}
	}

	//bxslider fix
	.bx-wrapper {
		border: none;
		box-shadow: none;
		margin: 0;
		.bx-pager{
			bottom: 30px;
		}
	}
	
	//sidebar
	aside{
		&.sidebar{
			background-color: $white-gr;
			margin: 0;
			padding: 1em;
			iframe{
				position: relative !important;
				max-width: 100%;
			}

			@include mobile {
				margin: 1em auto;
				text-align: center;
				display: block;
				width: 100%;
				float: none;
				clear: both;
			}
		}
	}


}

//------------------ Mixins -----------------------//
@mixin arrowHeader {
	background-color: $blue-1;
	padding: 1em;
	position: relative;
	&::after{
		content: "";
		display: block;
		width: 37px;
		height: 18px;
		background-image: url('../img/caret_down.png');
		position: absolute;
		right: 1em;
		bottom: -15px;
	}
	h1,h2,h3,h4,h5{
		margin: 0;
		color: white;
		text-transform: uppercase;
	}
}