//----------FONTS-----------//

//------------------ FONTS------------------------//

@font-face {
	font-family: 'Century Gothic Italic';
	src: url('../fonts/CenturyGothic-Italic.eot');
	src: url('../fonts/CenturyGothic-Italic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Italic.woff') format('woff'),
		url('../fonts/CenturyGothic-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Century Gothic';
	src: url('../fonts/CenturyGothic.eot');
	src: url('../fonts/CenturyGothic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic.woff') format('woff'),
		url('../fonts/CenturyGothic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Century Gothic Bold';
	src: url('../fonts/CenturyGothic-Bold.eot');
	src: url('../fonts/CenturyGothic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/CenturyGothic-Bold.woff') format('woff'),
		url('../fonts/CenturyGothic-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

//media queries
@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin bdesktop {
  @media (min-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin defdesktop {
  @media (max-width: #{$big-desktop-width}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: #{$tablet-width}) {
    @content;
  }
}


@mixin sm-desktop {
  @media (max-width: #{$sm-desktop-width}) {
    @content;
  }
}

//------------------ general from body styles -----------------------//

body {
	font-family: $century;
	
	//titles and strong fonts
	h1,
	h2,
	h3,
	h4,
	strong{
		font-family: $century-bd;
	}

	//gutter fix
	hr{
		display: none;
	}

	a:focus, a:hover {
	    color: $blue-1;
	    text-decoration: none;
	}

	.def-header {
		width: 391px;
		height: 91px;
		background-image: url('../img/bg-title.png');
		background-repeat: no-repeat;
		margin-bottom: 1.3em;
		h2, h3 {
			color: $gray-5;
			text-align: left;
			text-transform: uppercase;
			padding: 0.2em 1em;
			font-size: 2em;
			margin: 1em 0;
			@include mobile{
				font-size: 1.5em;
			}
		}

		@include mobile{
			width: 267px;
		}
	}

	//No gutter
	.no-gutter{
		> [class*='col-'] {
			padding-right:0;
			padding-left:0;
		}
	}

	//bxslider fix
	.bx-wrapper {
		border: none;
		box-shadow: none;
		margin: 0;
		.bx-pager{
			bottom: 30px;
		}
	}

	//circle icon
	.circle-icon {
		display: block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 2em;
		text-align: center;
		border: 1px solid $gray;
		color: $blue-1;
		border-radius: 100%;
		background-color: white;
		z-index: 3;
	}
	
	//sidebar
	aside{
		&.sidebar{
			background-color: $white-gr;
			margin: 0;
			padding: 1em;
			
			.widget_text{
				padding: 1em;
				margin : 1em auto;
				position: relative;
				
				h4 {
					width: 200px;
					margin: 0 auto 2em;
					text-align: center;
					padding: 1em;
					border-bottom: 1px solid $gray;
				}	

				.textwidget{
					h4{
						color: white;
						background-color: $blue-1;
						display: block;
						margin: 2em 0 -1.5em 0;
						font-size: 1em;
						width: 220px;
						padding: 1em;
						text-align: left;
					}

					.cont-iframe {
						display: block;
						border: 1px solid $blue-1;
						padding: 2em 1em 1em;
					}
				}
			}

			iframe{
				position: relative !important;
				max-width: 100%;
			}

			@include mobile {
				margin: 1em auto;
				text-align: center;
				display: block;
				width: 100%;
				float: none;
				clear: both;
			}
		}
	}

	.link-info{
		display: inline-block;
		color: black;
		background-color: $white;
		border: solid 1px $blue-1;
		text-transform: capitalize;
		text-align: center;
		padding:  .5em 2em;
		margin: 1em 0;
		font-weight: bold;
	}//permalink

}

//------------------ Mixins -----------------------//
@mixin arrowHeader {
	background-color: $blue-1;
	padding: 1em;
	position: relative;
	&::after{
		content: "";
		display: block;
		width: 37px;
		height: 18px;
		background-image: url('../img/caret_down.png');
		position: absolute;
		right: 1em;
		bottom: -15px;
	}
	h1,h2,h3,h4,h5{
		margin: 0;
		color: white;
		text-transform: uppercase;
	}
}