//----------- HEADER --------------//

.navbar {
	&.navbar-default {
		margin: 0;
		position: relative;
		padding: 3em 0 1em;
		border-bottom: 4px solid $blue-2;
		background-color: white;
		.container{
			position: relative;
			padding-right: 30px;
			//logo
			.navbar-brand{
				text-indent: -99999px;
				width: 251px;
				height: 57px;
				background-image: url(../img/logo.png);
				padding: 2em 0 1em;
			}
			//hide search
			.tog-search {
				display: none;
				position: absolute;
				top: 50px;
			}
			
			//social header
			.social-header{
				position: absolute;
				right: 0;
				top: -38px;
				li{
					display: inline-block;
					margin: 0 1em;
					a{
						font-size: 1.5em;
						color: $gray-1;
						&:hover {
							color: $blue-1;
						}
						i{
							position: relative;
						}
					}
				}

				@include mobile {
					text-align: center;
					display: block;
					width: 100%;
					float: none;
					clear: both;
					position: relative;
					top: 0;
				}
			}

			//menu
			.menu-m-container{
				float: right;
				@include mobile {
					text-align: center;
					display: block;
					width: 100%;
					float: none;
					clear: both;
				}
				
				.navbar-nav {
					>li {
						> a {
							font-weight: bold;
							position: relative;
							&::after{
								content: "";
								display: block;
								width: 2px;
								height: 5px;
								position: absolute;
								background-color: $blue-1;
								right: 0;
								top: 50%;
								margin-top: -2.5px;
								&:hover,
								&:focus {
									background-color: $blue-1;
								}
							}
						}
					}
				}
			}
			//search icon
			i { 
				display: block;
				position: absolute;
				right: 0;
				top: 15px;
				display: block;
			}
		}
	} 
	//fixed
	&.navbar-fixed-top{
		position: fixed !important;
	}
}