//----------- HEADER --------------//
.navbar {
	&.navbar-default {
		margin: 0;
		position: relative;
		padding: .5em 0;
		border-bottom: 4px solid $blue-2;
		.container{
			position: relative;
			padding-right: 30px;
			//logo
			.navbar-brand{
				text-indent: -99999px;
				width: 251px;
				height: 57px;
				background-image: url(../img/logo.png);
			}
			//hide search
			.tog-search {
				display: none;
				position: absolute;
				top: 50px;
			}
			//menu
			.menu-m-container{
				float: right;
				@include mobile {
					text-align: center;
					display: block;
					width: 100%;
					float: none;
					clear: both;
				}
			}
			//search icon
			i { 
				display: block;
				position: absolute;
				right: 0;
				top: 15px;
				display: block;
			}
		}
	} 
	//fixed
	&.navbar-fixed-top{
		position: fixed !important;
	}
}