/*____________________________________
 
 HOME
 ______________________________________*/
body {
	&.page-template-home-tpl{
		//---- Slider
		.slide-listing {
			padding: 0;
			li {
				display: block;
				height: 600px;
				background-size: cover;
				background-position: top center;
				//caption
				.caption {
					display: none;
					background-color: rgba(255,255,255,.7);
					position: relative;
					width: 450px;
					top: 30%;
					left: 50%;
					transform: translateX(-50%);
					h5 {
						font-family: $century-bd;
						font-size: 2em;
						background-color: $blue-1;
						color: $white;
						padding: .5em 1em;
					}//title
					.txt {
						padding: .5em 1em;
					}//text
				}//caption
			}//list item
		}// end slider
		//Feed News
		.featured-news{
			background-color: $gray-3;
			padding: 2em 0;
			img {
				max-width: 100%;
				height: auto;
			}
			.featured{
				.last-post{
					border: 1px solid $gray;
					min-height: 526px;
					background-color: white;
					figure{
						position: relative;
						overflow: hidden;
						height: 215px;	
					}
					.caption {
						background-color: $white;
						header{
							a {
								display: block;
								position: relative;
								text-decoration: none;
								margin-left: 1em;
								h3 {
									color: $blue-1;
									padding: 1em;
									border-bottom: 1px solid $gray-1;
									margin: 0;
								}
							}
						}// end header
						p {
							padding: 0 20px;
							a {
								display: none; 
							}
						}
					} //list
				} //end caption
			}//end featured new
			//list of news
			.feed-news {
				padding: 0;
				article{
					padding: 1em;
					margin: 0 auto 1.45em;
					overflow: hidden;
					background-color: $white;
					border: 1px solid $gray;
					figure{
						float: left;
						margin-right: 1em;
					} // end of thumb
					.caption{
						header {
							h3{
								color: $blue-1;
								font-size: 1.2em;
								margin: 0;
								font-weight: bold;
								border-bottom: 1px solid $gray-1;
								padding-bottom: 1em;
							}
						}
						p{
							padding-top: 1em;
							a {
								display: none;
							}
						}
						> a {
							font-weight: bold;
							float: right;
							margin: 1em 0;
							display: inline-block;
							margin-left: .4em;
						}
					}
				} // end article iten
			} // end feed news
		}//end feed News
		// bottom news
		.bottom-news{
			article {
				margin-top: 1em;
				figure{
					width: 100%;
					max-height: 157px;
					overflow: hidden;
					padding-top: 1em;
					border-top: 5px solid $blue-1;
					img {
						display: block;
						width: 100%;
						height: auto;
					}
				}
			}// item post
		}//end bottom news
		
		.top-networks {
			background-color: $gray-1;
			padding: 2em 0;
			.col-md-8,
			.col-md-4 {
				position: relative;
				.circle-icon {
					position: absolute;
					top: -10px;
					left: 50%;;
					margin-left: -20px;
				}
				.fb_iframe_widget,
				iframe {
					margin: 1em auto !important;
					width: 100% !important;
					height: 400px !important;
					padding: 2em;
					background-color: white;
					padding: 2em; 
					overflow: auto;
					span{
						width: 100% !important;
						height: 100% !important;
						margin: 0 !important;
						top: 0 !important;
						left: 0 !important;
						iframe {
							padding: 0 !important;
						}
					}   
				}
			}
		}

		.bottom-networks{
			padding: 2em 0 3em;
			margin: 2em auto;
			background-image: url(../img/bg-3.jpg);
			background-size: cover;
			background-attachment: fixed;
			.col-md-8,
			.col-md-4 {
				position: relative;
				.circle-icon {
					position: absolute;
					top: -10px;
					left: 50%;;
					margin-left: -20px;
				}
				iframe {
					margin: 1em auto !important;
					width: 100% !important;
					height: 400px !important;
					padding: 2em;
					background-color: white;
					padding: 2em;
				}
			}
		}//end bottom
		//Home services
		.home-services{
			text-align: center;
			header {
				position: relative;
				display: block;
				margin: 1em auto 2em;
				h3 {
					text-transform: uppercase;
					color: $blue-1;
					background-color: $white;
					text-align: left;
					&::after{
						content: "";
						display: block;
						width: 100%;
						height: 5px;
						width: 88%;
						background-color: $blue-1;
						position: absolute;
						top: 40%;
						right: 0; 
					}
				}
			} //end header
			//item
			.services {
				border: 3px solid $white;
				position:relative;
				width: 30%;
				margin: 1%;
				display: inline-block;
				float: none;
				vertical-align: top;
				.thumbs {
					display: block;
					width: 200px;
					height: 200px;
					border-radius: 100%;
					overflow: hidden;
					margin: 1em auto;
					img {
						width: auto;
						height: 100%;
					}
				}
				.caption {
					width: 100%;
					bottom: 0;
					left: 0;
					text-align: center;
					h3{
						color: $blue-1;
						padding: 1em;
					}
				}
			}
		}// end services
	}// end page
}//body