/*____________________________________
 
 Servicios
 ______________________________________*/

body {
	&.page-template-services-tpl,
	&.single-servicio {
		//main servicios
		.main-services {
			.content {
				padding: 2em 0;
			}
		}
		//text service
		.service-item{
			position: relative;
			margin: 1em auto;
			max-width: 700px;
			color: $white;
			padding-bottom: 4em;
			header{
				h2{
					color: $white;
					font-size: 4em;
					margin: 1em auto;
					text-align: center;
					@include mobile {
						font-size: 1.3em;
					}
				}
			}
		}
	}

}
