/*____________________________________
 
 Servicios
 ______________________________________*/

body {
	&.page-template-services-tpl,
	&.single-servicio {
		//main servicios
		.main-services {
			.content {
				padding: 2em 0;
			}
		}
		//text service
		.list-services {

			//Navigation tabs
			.nav {
				&.nav-pills {
					text-align: center; 
					li {
						float: none;
						display: inline-block;
						margin: 5px;
						a {
							border-radius: 0;
							padding: 1em 1.5em;
							border: 1px solid $blue-3;
							color: $gray-5;
							font-weight: bold;
							&:focus,
							&:hover {
								color: white;
								background-color: $blue-3;
							}
						}
						&.active {
							a {
								color: white;
								background-color: $blue-3;
							}
						}
					}
				}
			}

			// tab contents
			.tab-pane {
				min-height: 313px;
				@include mobile{
					min-height: auto;
				}
				.content-tab {
					padding:8em 1em 0;
					color: $gray-2;
					h3 {
						color: $blue-1;
						margin: 2em 0 1em -1em;
						font-size: 2.6em;
						text-transform: uppercase;
					}
					p, ul li {
						line-height: 2;
						font-size: 22px;
					}
					@include mobile{
						padding: 1em;
						text-align: center;
						h3{
							margin: 1em auto;
							font-size: 2em;
						}
					}

				}
				.image-tab {
					figure{
						padding: 2em 0;
						img{
							max-width: 100%;
							height: auto;
						}
					}

					@include mobile{
						display: none;
					}
				}
			}
		}
	}
}
